/** 
 * 
 * Author     : Fathan Rohman
 * Email      : karir.fathan@gmail.com
 * Website    : fathanrohman.com
 * Year       : 2018
 * Former     : Frontend Engineer
 * 
*/
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.block-container {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #302f2f;
}

.block-container__title {
  text-align: center;
  font-size: 16px;
  display: inline-block;
  float: left;
  color: #FFFFFF;
}

.block-container__title img {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

.block-container__list-test {
  width: 700px;
  padding: 15px;
}

.block-container__list-test ul {
  padding-left: 0;
  display: flex;
  display: -ms-flexbox;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.block-container__list-test ul li {
  list-style: none;
  text-align: center;
  width: 33.333%;
  border: 1px solid #FFFFFF;
  margin-right: 10px;
  border-radius: 10px;
  padding: 15px;
}

.block-container__list-test ul li:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}

.block-container__list-test ul li:hover .title {
  color: #CCCCCC;
}

.block-container__list-test ul li .image{
  overflow: hidden;
  width: 90px;
  display: table;
  margin: auto;
  margin-bottom: 25px;
}

.block-container__list-test ul li .image img{
  width: 100%;
  height: auto;
  display: block;
}

.block-container__list-test ul li .title{
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}