.loket-starwars-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  @import 'blank';
  @import 'header';
  @import 'footer';
  @import 'content';
  @import 'page/home';
  @import 'page/lists';
  @import 'page/detail';
}