.footer-app {
  display: block;
  width: 100%;
  text-align: center;
  background-color: $red-dark;
  padding: 20px 0;

  &__image {
    margin: auto;

    span {
      color: $white;
      font-size: 14px;
      margin-right: 10px;
      display: inline-block;
      font-weight: 300;
    }

    img {
      width: 100px;
      margin-top: -10px;
    }
  }
}