@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');
/**
*
* GLOBAL COLOR
*
*/
$white: #FFFFFF;
$black: #000000;

/**
*
* LOKET COLOR STANDARD
*
*/
$grey-dark: #1C1C1C;
$grey-medium: #737373;
$red-dark: #AE0C35;